<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <img src="//search1.daumcdn.net/search/cdn/simage/shopping/v2/common/nav/logo_shw.png">
        </div>
        <div class="header__search-box">
            <input type="text">
            <img src="images/search-icon.png">
        </div>
    </header>
    <div class="recent-products-panel">
        최근 본 상품이 없습니다.
        <img src="//shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FK11009405203.jpg%3Fut%3D20201104061159&amp;scode=talkgift">
    </div>
    <div class="main-navbar__container">
        <div class="main-navbar">
            <div class="main-navbar--left">
                <div class="main-navbar--left__category-menu category__button">
                    <img src="images/3-bars.png"/>
                    <div> 카테고리</div>
                    <div class="category__container non-active">
                        <div class="first-category"></div>
                        <div class="second-category"></div>
                        <div class="third-category"></div>
                    </div>
                </div>
                <ul>
                    <li>핫딜</li>
                    <li>베스트100</li>
                    <li>할인특가</li>
                    <li>기획전</li>
                </ul>
            </div>
            <div class="main-navbar--right">
                <div class="main-navbar--right__login-menu">
                    <img src="images/login-person.png">
                    <div>로그인</div>
                </div>
                <div class="main-navbar--right__recent-products">
                    <img src="images/recent-products.png">
                    <div>최근본 상품</div>
                    <div>▼</div>
                    <div class="main-navbar__recent-products__popup-view">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container container__banner banner">
        <div class="banner--first">
            <div class="banner__panel">
                <img src="//shop1.daumcdn.net/shophow/sib/0_210107175444_NYJcyPtwHStBMzGLVzNvoNaaQaIJdBsr">
            </div>
            <div class="banner__panel__slideshow slideshow">
                <div class="group visible">
                    <div class="slide">2</div>
                    <div class="slide">0</div>
                    <div class="slide">1</div>
                </div>
                <div class="group non-visible">
                    <div class="slide"></div>
                    <div class="slide"></div>
                    <div class="slide"></div>
                </div>
                <div class="next-button">
                    <img class="banner__panel__slideshow__left-icon left-icon" src="images/left-arrow.png"></img>
                </div>
                <div>
                    <img class="banner__panel__slideshow__right-icon right-icon" src="images/right-arrow.png"></img>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="products"></div>
            <div class="more-button">
                <div>
                    더보기(123건) ▼
                </div>
            </div>
        </div>
    </div>     
    <div class="title">지금뜨는 테마 카테고리</div>
    <div class="container container__slideshow slideshow">
        <div class="panel__card-slideshow">
            
            <div class="card">
                <img class="card__image" src="//shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FK11009405203.jpg%3Fut%3D20201104061159&amp;scode=talkgift">
                <div class="card__title">
                    치즈의 무궁무진한 세계!
                </div>
                <div class="card__subtitle">
                    다양한 종류의 치즈를 한눈에
                </div>
                <div class="card__badge">
                    <img src="images/thema-icon.png">
                </div>
            </div>
            <div class="card">
                <img class="card__image" src="//shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FK11009405203.jpg%3Fut%3D20201104061159&amp;scode=talkgift">
                <div class="card__title">
                    치즈의 무궁무진한 세계!
                </div>
                <div class="card__subtitle">
                    다양한 종류의 치즈를 한눈에
                </div>
                <div class="card__badge">
                    <img src="images/thema-icon.png">
                </div>
            </div>
            <div class="card">
                <img class="card__image" src="//shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FK11009405203.jpg%3Fut%3D20201104061159&amp;scode=talkgift">
                <div class="card__title">
                    치즈의 무궁무진한 세계!
                </div>
                <div class="card__subtitle">
                    다양한 종류의 치즈를 한눈에
                </div>
                <div class="card__badge">
                    <img src="images/thema-icon.png">
                </div>
            </div>
            <div class="card">
                <img class="card__image" src="//shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FK11009405203.jpg%3Fut%3D20201104061159&amp;scode=talkgift">
                <div class="card__title">
                    치즈의 무궁무진한 세계!
                </div>
                <div class="card__subtitle">
                    다양한 종류의 치즈를 한눈에
                </div>
                <div class="card__badge">
                    <img src="images/thema-icon.png">
                </div>
            </div>
            <div class="card">
                <img class="card__image" src="//shop1.daumcdn.net/thumb/S318x318/?fname=http%3A%2F%2Fshop1.daumcdn.net%2Fshophow%2Fp%2FK11009405203.jpg%3Fut%3D20201104061159&amp;scode=talkgift">
                <div class="card__title">
                    치즈의 무궁무진한 세계!
                </div>
                <div class="card__subtitle">
                    다양한 종류의 치즈를 한눈에
                </div>
                <div class="card__badge">
                    <img src="images/thema-icon.png">
                </div>
            </div>
        </div>
        <a class="trand-prev" id="trandPrev">&#10094;</a>
        <a class="trand-next" id="trandNext">&#10095;</a>
    </div>
</body>
</html>