body {
    font-family: 'Apple SD Gothic Neo','Malgun Gothic', sans-serif;
    background-color: #f3f3f3;
    margin-bottom: 30px;
}

.visible {
    visibility: visible;
}

.non-visible {
    visibility: hidden;
}